// @import 'reset';
@import 'preloader';
@import 'poi';
// @import 'siimple/siimple.scss';
@import 'weather-icons/weather-icons.scss';

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  #app-wrapper {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh; 
    width: 100vw;
    position:relative; 
    top: 0; 
    left: 0;
    z-index: 0;
    overflow: hidden;

    .no-pad{
      padding: 0;
    }

    .container-fluid {
      display: flex;
      align-items: center;
    }

    .map-wrapper{
       // min-height: calc(100vh - 114px);
       height: 100%;
       z-index: 1;
       #map {
        height: 100%;
        min-height: calc(100vh - 86px);
        width: 100%;
      }
    }
    .sidebar-wrapper{
      background: rgba(255,255,255,.75);
      height: 100%;
      // min-height: calc(100vh - 114px);
      z-index: 5;
      top:0;
      right:0;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
}

.weather-situation, .wind-situation{
  display: flex;
  align-items: center;
  .icon-wrapper{
    width: 100px;
    text-align: center;
    display: inline-block;
  }
  span{
    padding-left: 1rem;
  }
}

input[type="range"]{
  height: 40px;
  width: 100%;
}

label{
  display: block;
}

@include media-breakpoint-up(sm) {
  html {
    .weather-situation, .wind-situation{
      font-size: 3rem;
      .icon-wrapper{
        width: 100px;
        font-size: 4rem;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  html {
    .weather-situation, .wind-situation{
      font-size: 2rem;
      .icon-wrapper{
        width: 100px;
        font-size: 3rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  html {
    .weather-situation, .wind-situation{
      font-size: 3rem;
      .icon-wrapper{
        width: 100px;
        font-size: 4rem;
      }
    }
  }
}

// .map-wrapper{
//  height: 100%; 
//  width: 100%;
//  z-index: 1;
// }

// .controls-wrapper{
//   background: rgba(255,255,255,0);
//   position: absolute;
//   width: 80%;
//   height: auto;
//   z-index: 10;
//   left: 0;
//   top:0;
//   transition: all .25s ease;
//   &:hover{
//     background: rgba(255,255,255,.75);
//   }
//   .navbar{
//     .form-input, .btn{
//       margin:0;
//     }
//   }
// }

// .sidebar-wrapper{
//   background: rgba(255,255,255,.75);
//   position: absolute;
//   width: 20%;
//   height: 100%;
//   z-index: 5;
//   top:0;
//   right:0;
// }

 #local-weather-wrapper {
  background: rgba(255,255,255,.5);
  .weather-situation, .wind-situation{
    i{
      transition: all 1s ease;
    }
  }
  table{
    text-align: left;
    i{
      width: 1.5rem;
    }
  }
 }